*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    background-color: black;
}

.navbar{
    width: 100%;
    background-color: #d1d1d1d0;
    margin: 0;
    position: fixed;
    top: 0;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    height: 3em;
    padding: 0;
    
}

.navbar ul li{
    padding-right: 1em;
    color: rgb(2, 51, 51);
    font-weight: bold;
}

.navbar h4{
    margin-right: auto;
    margin-left: 1em;
    color: rgb(2, 51, 51);
}

#wrapper-main{
    margin: 1em;
}

.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    text-align: center;
    background-color: #e6e6e64f;
    margin-top: 50px;
    border-color: white;
    border-style: dotted;
    border-radius: 15px
}

.button{
    background-color: rgba(37, 61, 61, 0.438);
    border-color: rgba(255, 255, 255, 0.308);
    border-width: 3px;
    color: black;
    padding: 10px;
}

.button:hover{
    background-color: rgba(128, 0, 128, 0.192);
}

#wrapper-grid{
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(5, 1fr);
    margin: 0;
}

.firstIcons{
    padding: 20px;
    margin: 0;
    /* background-color: rgba(37, 61, 61, 0.438); */
    background-color: rgba(128, 0, 128, 0.192);
    border-top: 4px solid teal;
}
.firstIcons:hover{
    background-color: rgba(37, 61, 61, 0.986);
}

.round{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* background-color: gray; */
    margin: 0 auto;
    justify-content: center;
}

.gridd {
    display: grid;
    grid-gap: 5px;
    /* background-color: white; */
    padding: 10px;
}
  
.gridd-item {
    /* background-color:#e6e6e6; */
    background-color: teal
}
  
.one {
    grid-column: 1 / span 2;
    grid-row: 1;
    height: 30px;
    width: 100%;
}

.two {
    grid-column: 3;
    grid-row: 1;
    height: 30px;
    width: 100%
}
  
.three {
    grid-column: 1 / span 3;
    grid-row: 3;
    height: 30px;
    width: 100%;
}

.four {
    grid-column: 1 / span 3;
    grid-row: 4;
    height: 30px;
    width: 100%;
}

.download{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 200px;
    text-align: center;
    /* background-color: #e6e6e6; */
    background-color: #e6e6e64f;
    border-color: white;
    border-style: dotted;
    border-radius: 15px

}

.testimonial{
    padding: 5px 200px; 
    text-align: center;
    color: white;
}

.bord{
    border-style: outset;
    border-width: 3px;
    border-color: rgba(0, 128, 128, 0.527);
}

@media screen and (max-width:840px){
    #wrapper-grid{
        grid-template-columns: repeat(3, 1fr);
        /* justify-content: space-between; */
    }

    .firstIcons{
        padding: 20px;
        margin: 0;
        background-color: rgba(37, 61, 61, 0.438);
        border-top: 4px solid teal;
    }

    .navbar ul li{
        padding-right: 1em;
        visibility: hidden;
    }

    .banner{
        padding-top: 0;
        height: 20em;
        font-size: small;
    }

    .download{
        padding: 20px 100px;
    }

    .testimonial{
        padding: 5px 100px;
    }
    
}

@media screen and (max-width:500px){
    #wrapper-grid{
        grid-template-columns: 1fr;
        /* justify-content: space-between; */
    }
}

@media screen and (max-width:350px){
    #wrapper-grid{
        grid-template-columns: 1fr;
        /* justify-content: space-between; */
    }
}

@media screen and (max-width:350px){
    #wrapper-grid{
        grid-template-columns: 1fr;
        /* justify-content: space-between; */
    }
}

@media screen and (max-width:405px){
    .banner{
        padding-top: 0;
        height: 25em;
        font-size: small;
    }

    .button{
        font-size: small;
        padding: 0 1px;
    }
}

@media screen and (max-width:325px){
    .banner{
        padding-top: 0;
        height: 30em;
        font-size: small;
    }

    .button{
        font-size: small;
        padding: 0 1px;
    }
}

@media screen and (max-width:270px){
    .banner{
        height: 35em;
        font-size: small;
    }

    .button{
        font-size: small;
        padding: 0 1px;
    }
}


